
div {
  border: 1px solid black;
  padding: 0;
}

.main {
  width:300px;
  padding: 1em;
  margin: 0 auto;
  background-color: #003E51;
  color: #587992;
}

div.info-box {
  width: 300px;
  color: #3C5B59
}

img {
  border-radius: 10px;
}

.special {
  font-style: italic;
  margin-top: 0;
}

.info-item {
  margin: 1em;
}

ul.info-list {
  padding-left: 0;
}

ul li {
  font-style: italic;
  list-style-type: none;
}

.interest-fact-label {
  font-style: normal;
  font-weight: bold;
}
