
div {
  border: 1px solid black;
  padding: 0;
}

.main {
  width:300px;
  padding: 1em;
}

div.infoBox {
  width: 300px;
}

.special {
  font-style: italic;
  margin-top: 0;
}

.infoItem {
  margin: 1em;
}

ul.infoList {
  padding-left: 0;
}

ul li {
  font-style: italic;
  list-style-type: none;
}

span {
  font-style: normal;
  font-weight: bold;
}
